<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Make site responsive on mobile/tablet -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First App</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/fontawesome.min.js"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/fontawesome.min.css"> -->
    <!-- CSS BOOTSTRAP@4.1.X CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <!-- Nav-Bar Begin -->
<div class="navbar">
  <nav class="navbar navbar-default"style="background-color:#e3f2fd">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" href="/">{ ALPHA / OMEGA }</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= typeof page !== 'undefined' && page === 'index' ? 'active' : '' %>"><a class="nav-link" href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Programming Courses</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Programming in C and C++</a></li>
              <li><a href="#">Data Structures and Algorithms using Java Script</a></li>
              <li><a href="#">Web Development Bootcamp</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Data Science Courses</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Data Science using Python and R</a></li>
              <li><a href="#">Machine Learning using Python</a></li>
              <li><a href="#">Artificial Intelligence</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
              <% } else { %>
                  <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/logout">Logout</a></li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div>
</div>
<div class="container">

       <% if(error && error.length > 0){ %>
           <div class="alert alert-danger" role="alert">
               <%= error %>
           </div>
       <% } %>
       <% if(success && success.length > 0){ %>
           <div class="alert alert-success" role="alert">
               <%= success %>
           </div>
       <% } %>
</div>


















<!--<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#e3f2fd">
   <a class="navbar-brand" href="#">ALPHA-NOT</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav mr-auto">
     <ul class="nav navbar-nav">
       <li class="<%= typeof page !== 'undefined' && page === 'index' ? 'active' : '' %>"><a class="nav-link" href="/">Home</a></li>
     </ul>
     <li class="nav-item">
       <a class="nav-link" href="#">About</a>
     </li>
     <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Courses
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">Programming Courses</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">C/C++</a>
         <a class="dropdown-item" href="#">Data Structures Using Java Script</a>
         <a class="dropdown-item" href="#">Web Technologies</a>

         <div class="dropdown-divider"></div>

         <a class="dropdown-item" href="#">Data Science Courses</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">Machine Learning with Python</a>
         <a class="dropdown-item" href="#">Data Science using R, Python, Matlab, Octave</a>
         <a class="dropdown-item" href="#">AI with IBM Watson</a>
       </div>
     </li>
   </ul>
   <form class="form-inline my-2 my-lg-0">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>

   <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
               <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Login</a></li>
               <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/register">Sign Up</a></li>
           <% } else { %>
               <li><a href="#">Signed In As <%= currentUser.username %></a></li>
               <li><a href="/logout">Logout</a></li>
           <% } %>
       </ul>
     </div>
   </div>
</nav> -->




<!-- <nav class="navbar navbar-default" style="background-color:#e3f2fd">
  <div class="container">
   <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>

       <a class="navbar-brand" href="/">Omega Programming</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/">Home</a></li>
     </ul>
     <ul>
       <li class="dropdown">
       <a nav-link href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">Programming Courses</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Programming in C and C++</a></li>
         <li><a href="#">Data Structures and Algorithms using Java Script</a></li>
         <li><a href="#">Web Development Bootcamp</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Data Science Courses</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Data Science using Python and R</a></li>
         <li><a href="#">Machine Learning using Python</a></li>
         <li><a href="#">Artificial Intelligence</a></li>
       </ul>
     </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
         <% if(!currentUser){ %>
             <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
             <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
         <% } else { %>
             <li><a href="#">Signed In As <%= currentUser.username %></a></li>
             <li><a href="/logout">Logout</a></li>
         <% } %>
     </ul>
   </div>
</div>
</nav> -->
